.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  transition: 2s ease;
  cursor: progress;

  &:hover {
    transform: scale(1.2);
  }
}

.text {
  color: var(--black);
  font-weight: 800;
}

.dot {
  background: var(--black);
  height: 0.65em;
  width: 0.65em;
  border-radius: 50%;
  animation: move 0.6s ease infinite;
}

@keyframes move {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}